<a href="https://colab.research.google.com/github/nikhil-xyz/BRS/blob/main/Book_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

reading datasets

In [2]:
books_new = pd.read_csv('/content/books_new.csv')

In [3]:
books_new.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [4]:
books_new.groupby('SubGenre').count()

                   Title  Author  Genre  Height  Publisher
SubGenre
anthology              1       1      1       1          1
autobiography         11      10     11      11          7
classic               26      24     26      26         19
comic                 13       0     13      13          0
computer_science      10      10     10      10          5
data_science          14      14     14      14          9
economics             11      10     11      11         10
education              2       1      2       2          2
history               34      33     34      34         18
legal                  2       2      2       2          0
mathematics           11      11     11      11          5
misc                   7       7      7       7          4
novel                 38      36     38      38         17
objectivism            3       3      3       3          1
philosophy             6       6      6       6          2
physics                7       6      7       7          5
poetry                 1       1      1       1          1
politics               1       0      1       1          0
psychology             3       2      3       3          2
science                2       2      2       2          1
signal_processing      7       7      7       7          5
trivia                 1       1      1       1          1

In [5]:
books_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      211 non-null    object
 1   Author     187 non-null    object
 2   Genre      211 non-null    object
 3   SubGenre   211 non-null    object
 4   Height     211 non-null    int64
 5   Publisher  115 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.0+ KB

In [ ]:
books_new.Genre.isnull().sum()

0

In [ ]:
books_new.Title.isnull().sum()

0

rearranging the titles

In [ ]:
def preprocess(title):
  index = title.find(',')
  if (index != -1):
    title = title[index+2:] + " " + title[:index]
  return title
books_new['Title'] = books_new['Title'].apply(preprocess)

In [ ]:
books_new.Title.head(50)

0                            Fundamentals of Wavelets
1                                          Data Smart
2                            God Created the Integers
3                                   Superfreakonomics
4                                         Orientalism
5           The Nature of Statistical Learning Theory
6                    Integration of the Indian States
7                                 The Drunkard's Walk
8          Image Processing & Mathematical Morphology
9                   How to Think Like Sherlock Holmes
10                            Data Scientists at Work
11                                Slaughterhouse Five
12                                 Birth of a Theorem
13    Structure & Interpretation of Computer Programs
14                                   The Age of Wrath
15                                          The Trial
16                       Statistical Decision Theory'
17                               Data Mining Handbook
18                                The New Machiavelli
19                               Physics & Philosophy
20                                    Making Software
21                                     Vol I Analysis
22                       Machine Learning for Hackers
23                           The Signal and the Noise
24                           Python for Data Analysis
25                         Introduction to Algorithms
26                       The Beautiful and the Damned
27                                       The Outsider
28               The - Vol I Complete Sherlock Holmes
29              The - Vol II Complete Sherlock Holmes
30                              The Wealth of Nations
31                           The Pillars of the Earth
32                                         Mein Kampf
33                                 The Tao of Physics
34                    Surely You're Joking Mr Feynman
35                                 A Farewell to Arms
36                                        The Veteran
37                                  False Impressions
38                                   The Last Lecture
39                            Return of the Primitive
40                                      Jurassic Park
41                                  A Russian Journal
42                   Tales of Mystery and Imagination
43                                       Freakonomics
44                             The Hidden Connections
45                            The Story of Philosophy
46                                        Asami Asami
47                                 Journal of a Novel
48                               Once There Was a War
49                                   The Moon is Down
Name: Title, dtype: object

In [ ]:
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
table = pd.pivot_table(data=books_new, index='Title', columns='SubGenre')
table

<ipython-input-12-a25e4e30a073>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  table = pd.pivot_table(data=books_new, index='Title', columns='SubGenre')

                                           Height                              \
SubGenre                                anthology autobiography classic comic
Title
20000 Leagues Under the Sea                   NaN           NaN     NaN   NaN
A Christmas Carol                             NaN           NaN   196.0   NaN
A Farewell to Arms                            NaN           NaN   179.0   NaN
A Life in Letters                             NaN         196.0     NaN   NaN
A Modern Approach Computer Vision             NaN           NaN     NaN   NaN
...                                           ...           ...     ...   ...
We the Living                                 NaN           NaN     NaN   NaN
We the Nation                                 NaN           NaN     NaN   NaN
We the People                                 NaN           NaN     NaN   NaN
Zen & The Art of Motorcycle Maintenance       NaN         172.0     NaN   NaN
vol 106 No 3 Journal of Economics             NaN           NaN     NaN   NaN

                                                                       \
SubGenre                                computer_science data_science
Title
20000 Leagues Under the Sea                          NaN          NaN
A Christmas Carol                                    NaN          NaN
A Farewell to Arms                                   NaN          NaN
A Life in Letters                                    NaN          NaN
A Modern Approach Computer Vision                    NaN          NaN
...                                                  ...          ...
We the Living                                        NaN          NaN
We the Nation                                        NaN          NaN
We the People                                        NaN          NaN
Zen & The Art of Motorcycle Maintenance              NaN          NaN
vol 106 No 3 Journal of Economics                    NaN          NaN

                                                                           \
SubGenre                                economics education history legal
Title
20000 Leagues Under the Sea                   NaN       NaN     NaN   NaN
A Christmas Carol                             NaN       NaN     NaN   NaN
A Farewell to Arms                            NaN       NaN     NaN   NaN
A Life in Letters                             NaN       NaN     NaN   NaN
A Modern Approach Computer Vision             NaN       NaN     NaN   NaN
...                                           ...       ...     ...   ...
We the Living                                 NaN       NaN     NaN   NaN
We the Nation                                 NaN       NaN     NaN   NaN
We the People                                 NaN       NaN     NaN   NaN
Zen & The Art of Motorcycle Maintenance       NaN       NaN     NaN   NaN
vol 106 No 3 Journal of Economics           235.0       NaN     NaN   NaN

                                         ...                                \
SubGenre                                 ...  novel objectivism philosophy
Title                                    ...
20000 Leagues Under the Sea              ...  190.0         NaN        NaN
A Christmas Carol                        ...    NaN         NaN        NaN
A Farewell to Arms                       ...    NaN         NaN        NaN
A Life in Letters                        ...    NaN         NaN        NaN
A Modern Approach Computer Vision        ...    NaN         NaN        NaN
...                                      ...    ...         ...        ...
We the Living                            ...  178.0         NaN        NaN
We the Nation                            ...    NaN         NaN      216.0
We the People                            ...    NaN         NaN      216.0
Zen & The Art of Motorcycle Maintenance  ...    NaN         NaN        NaN
vol 106 No 3 Journal of Economics        ...    NaN         NaN        NaN

                                                                            \
SubGenre                                physics poetry politics psychology
Title
20000 Leagues Under the Sea                 NaN    NaN      NaN        NaN
A Christmas Carol                           NaN    NaN      NaN        NaN
A Farewell to Arms                          NaN    NaN      NaN        NaN
A Life in Letters                           NaN    NaN      NaN        NaN
A Modern Approach Computer Vision           NaN    NaN      NaN        NaN
...                                         ...    ...      ...        ...
We the Living                               NaN    NaN      NaN        NaN
We the Nation                               NaN    NaN      NaN        NaN
We the People                               NaN    NaN      NaN        NaN
Zen & The Art of Motorcycle Maintenance     NaN    NaN      NaN        NaN
vol 106 No 3 Journal of Economics           NaN    NaN      NaN        NaN


SubGenre                                science signal_processing trivia
Title
20000 Leagues Under the Sea                 NaN               NaN    NaN
A Christmas Carol                           NaN               NaN    NaN
A Farewell to Arms                          NaN               NaN    NaN
A Life in Letters                           NaN               NaN    NaN
A Modern Approach Computer Vision           NaN             255.0    NaN
...                                         ...               ...    ...
We the Living                               NaN               NaN    NaN
We the Nation                               NaN               NaN    NaN
We the People                               NaN               NaN    NaN
Zen & The Art of Motorcycle Maintenance     NaN               NaN    NaN
vol 106 No 3 Journal of Economics           NaN               NaN    NaN

[210 rows x 22 columns]

In [ ]:
table = table.fillna(0)
table[table != 0] = 1
table

                                           Height                              \
SubGenre                                anthology autobiography classic comic
Title
20000 Leagues Under the Sea                   0.0           0.0     0.0   0.0
A Christmas Carol                             0.0           0.0     1.0   0.0
A Farewell to Arms                            0.0           0.0     1.0   0.0
A Life in Letters                             0.0           1.0     0.0   0.0
A Modern Approach Computer Vision             0.0           0.0     0.0   0.0
...                                           ...           ...     ...   ...
We the Living                                 0.0           0.0     0.0   0.0
We the Nation                                 0.0           0.0     0.0   0.0
We the People                                 0.0           0.0     0.0   0.0
Zen & The Art of Motorcycle Maintenance       0.0           1.0     0.0   0.0
vol 106 No 3 Journal of Economics             0.0           0.0     0.0   0.0

                                                                       \
SubGenre                                computer_science data_science
Title
20000 Leagues Under the Sea                          0.0          0.0
A Christmas Carol                                    0.0          0.0
A Farewell to Arms                                   0.0          0.0
A Life in Letters                                    0.0          0.0
A Modern Approach Computer Vision                    0.0          0.0
...                                                  ...          ...
We the Living                                        0.0          0.0
We the Nation                                        0.0          0.0
We the People                                        0.0          0.0
Zen & The Art of Motorcycle Maintenance              0.0          0.0
vol 106 No 3 Journal of Economics                    0.0          0.0

                                                                           \
SubGenre                                economics education history legal
Title
20000 Leagues Under the Sea                   0.0       0.0     0.0   0.0
A Christmas Carol                             0.0       0.0     0.0   0.0
A Farewell to Arms                            0.0       0.0     0.0   0.0
A Life in Letters                             0.0       0.0     0.0   0.0
A Modern Approach Computer Vision             0.0       0.0     0.0   0.0
...                                           ...       ...     ...   ...
We the Living                                 0.0       0.0     0.0   0.0
We the Nation                                 0.0       0.0     0.0   0.0
We the People                                 0.0       0.0     0.0   0.0
Zen & The Art of Motorcycle Maintenance       0.0       0.0     0.0   0.0
vol 106 No 3 Journal of Economics             1.0       0.0     0.0   0.0

                                         ...                               \
SubGenre                                 ... novel objectivism philosophy
Title                                    ...
20000 Leagues Under the Sea              ...   1.0         0.0        0.0
A Christmas Carol                        ...   0.0         0.0        0.0
A Farewell to Arms                       ...   0.0         0.0        0.0
A Life in Letters                        ...   0.0         0.0        0.0
A Modern Approach Computer Vision        ...   0.0         0.0        0.0
...                                      ...   ...         ...        ...
We the Living                            ...   1.0         0.0        0.0
We the Nation                            ...   0.0         0.0        1.0
We the People                            ...   0.0         0.0        1.0
Zen & The Art of Motorcycle Maintenance  ...   0.0         0.0        0.0
vol 106 No 3 Journal of Economics        ...   0.0         0.0        0.0

                                                                            \
SubGenre                                physics poetry politics psychology
Title
20000 Leagues Under the Sea                 0.0    0.0      0.0        0.0
A Christmas Carol                           0.0    0.0      0.0        0.0
A Farewell to Arms                          0.0    0.0      0.0        0.0
A Life in Letters                           0.0    0.0      0.0        0.0
A Modern Approach Computer Vision           0.0    0.0      0.0        0.0
...                                         ...    ...      ...        ...
We the Living                               0.0    0.0      0.0        0.0
We the Nation                               0.0    0.0      0.0        0.0
We the People                               0.0    0.0      0.0        0.0
Zen & The Art of Motorcycle Maintenance     0.0    0.0      0.0        0.0
vol 106 No 3 Journal of Economics           0.0    0.0      0.0        0.0


SubGenre                                science signal_processing trivia
Title
20000 Leagues Under the Sea                 0.0               0.0    0.0
A Christmas Carol                           0.0               0.0    0.0
A Farewell to Arms                          0.0               0.0    0.0
A Life in Letters                           0.0               0.0    0.0
A Modern Approach Computer Vision           0.0               1.0    0.0
...                                         ...               ...    ...
We the Living                               0.0               0.0    0.0
We the Nation                               0.0               0.0    0.0
We the People                               0.0               0.0    0.0
Zen & The Art of Motorcycle Maintenance     0.0               0.0    0.0
vol 106 No 3 Journal of Economics           0.0               0.0    0.0

[210 rows x 22 columns]

In [ ]:
similarity_score = cosine_similarity(table)
similarity_score

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [ ]:
import numpy as np
def recommend(book_name):
    index = np.where(table.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])), key=lambda x:x[1], reverse=True)[1:6]

    for i in similar_items:
        print(table.index[i[0]])

In [ ]:
recommend('Data Mining Handbook')

Data Mining Handbook
Data Scientists at Work
Data Smart
Machine Learning for Hackers
Neural Networks

In [ ]:
books_new[books_new.Title=="Beyond the Three Seas"]

,Title,Author,Genre,SubGenre,Height,Publisher
102,Beyond the Three Seas,"Dalrymple, William",nonfiction,history,197,Random House

In [ ]:
books_new.sample(50)

In [ ]:
import pickle
pickle.dump(table, open('table.pkl', 'wb'))
pickle.dump(books_new, open('books.pkl', 'wb'))

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
table1 = pickle.load(open("table.pkl", "rb"))

In [ ]:
score = cosine_similarity(table1)

In [ ]:
def recommend(book_name):
    index = np.where(table1.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(score[index])), key=lambda x:x[1], reverse=True)[1:6]

    for i in similar_items:
        print(table1.index[i[0]])

In [ ]:
recommend('Data Mining Handbook')

Data Mining Handbook
Data Scientists at Work
Data Smart
Machine Learning for Hackers
Neural Networks

In [ ]:
import pickle

In [ ]:
pickle.format_version

'4.0'